appdirs==1.4.3
Django==2.0
django-debug-toolbar==1.9.1
django-filter==1.1.0
django-localized-fields==4.6a3
django-markdownx==2.0.22
django-postgres-extra==1.20
django-ranged-response==0.2.0
django-simple-captcha==0.5.6
django-watson==1.5.2
Markdown==2.6.11
packaging==16.8
Pillow==5.1.0
psycopg2==2.7.4
pyparsing==2.2.0
pytz==2018.4
six==1.11.0
sqlparse==0.2.4
