uwsgi
django
psycopg2
django-markdownx
django-simple-captcha
django-filter
libsass
django-sass-processor
django-compressor
markdown
pillow

# updates the deprecation package, which loses its unnecessary dependency on
# unittest2, which breaks
https://github.com/umazalakain/django-localized-fields/archive/bump-deprecation.zip#egg=django-localized-fields
