uwsgi == 2.0.17.1
django == 2.1.5
django-localized-fields == 4.6a3
psycopg2 == 2.7.6.1
https://github.com/neutronX/django-markdownx/archive/bd06b48.zip#egg=django-markdownx
django-simple-captcha == 0.5.9
django-filter == 2.0.0
libsass == 0.16.1
django-sass-processor == 0.7.2
django-compressor == 2.2

# Markdown 3 and later import pkg_resources
# This works fine in the interpreter
# For some reason it breaks when done from UWSGI
markdown < 3

# https://github.com/python-pillow/Pillow/commit/9f6c708aa3961f9bc768d3bd5b95c1821d5ec6d1
# https://github.com/python-pillow/Pillow/issues/3526
# Will be fixed in 5.4.1
pillow < 5.4.0
