body
  font-family: LatoRegular
  margin: 0
  font-size: 0

$red: #F00049
$darkgrey: #1a1a1a
$grey: #ccc

@media all and (min-width: 600px)
  nav, main
    display: inline-block
    min-height: 100vh
    vertical-align: top
  nav
    width: 23%
  main
    font-size: 1rem
    width: 77%
    padding: 3%
