.detailIcon
  width: 30%
  display: block
  vertical-align: top
  margin: 3% 0

.detailText
  width: 100%
  display: inline-block
  margin-top: 4%
  margin: 0
  h2
    margin-top: 0
    font-size: 1.8em
  dl
    padding: 2em 0
    margin: 2em 0
  dt
    font-weight: bold
    font-size: 1.1em
    display: inline
    &:before
      display: block
      content: ""
  dd
    display: inline
    margin: .5em
    p:first-child
      display: inline
    p:last-child
      margin-bottom: 0
  a
    text-decoration: none
    color: #666
  img
    max-width: 100%

  &.reading
    dl
      border-top: $reading .1em solid
      border-bottom: $reading .1em solid
    dt, h1, h2, a
      color: $reading
    dd.subjectDetail
      padding: 0 .5em
      border-right: .1em solid $reading
      margin: 0
  &.activity
    dl
      border-top: $activity .1em solid
      border-bottom: $activity .1em solid
    dt, h1, h2, a
      color: $activity
    dd.subjectDetail
      padding: 0 .5em
      border-right: .1em solid $activity
      margin: 0
  &.video
    dl
      border-top: $video .1em solid
      border-bottom: $video .1em solid
    dt, h1, h2, a
      color: $video
    dd.subjectDetail
      padding: 0 .5em
      border-right: .1em solid $video
      margin: 0
  &.link
    dl
      border-top: $link .1em solid
      border-bottom: $link .1em solid
    dt, h1, h2, a
      color: $link
    dd.subjectDetail
      padding: 0 .5em
      border-right: .1em solid $link
      margin: 0
.brief::before
  display: block
  height: .3rem
.fa
  padding-right: .3em
  display: inline-block
  font-family: ForkAwesome
  font-size: inherit
  text-rendering: auto
.fa-download::before
  content: "\f019"
.fa-chain::before
  content: "\f0c1"
.fa-print::before
  content: "\f02f"
.fa-link::before
  content: "\f0c1"

a.printButton
  display: block
  margin-top: 3em

p.notes
  margin: 1em 0
  color: $activity
  padding: 0

@media all and (min-width: 728px)
  .detailIcon
    width: 20%
