hgroup
  border-bottom: 1px solid $grey

h2.tabs
  text-align: left
  font-size: 1.05rem
  color: $red
  font-weight: bold
  padding-bottom: .3em
  display: inline-block
  width: 90%
  margin: 0
i
  text-align: right
  display: inline-block
  width: 10%


ul.filters
  padding: 0 1rem
  li
    list-style: none
    color: $darkgrey
    font-weight: bold
    padding-bottom: 1em

input[type=submit]
  margin-left: 1em
  margin-bottom: 2em
  background: $red
  border: none
  padding: .5em
  color: white
  font-size: 1.05em
  font-weight: bold
  &.delete
    color: $red
    background: none
    font-size: .9rem
    margin-left: 0
    font-weight: normal

input[type=range]::-webkit-slider-thumb
  width: 1.2rem
  height: 1.2rem
  border-radius: 100%
  border: none
  background: $red
  cursor: pointer

input[type=range]::-moz-range-thumb
  width: 1.2rem
  height: 1.2rem
  border-radius: 100%
  border: none
  background: $red
  cursor: pointer
