h2.tabs
  text-align: left
  font-size: 1.05rem
  color: $red
  font-weight: bold
  padding-bottom: .3em
  border-bottom: 1px solid $grey
  font-family: 'bebas neue'

input.search
  position: absolute
  width: 63%
  top: 5%
  right: 7.5%
  &:focus
    border-color: $red
    border-style: solid
    border-radius: .3em

ul.filters
  padding: 0 1rem
  li
    list-style: none
    color: $darkgrey
    font-weight: bold
    padding-bottom: 1em
    select
      scrollbar-color: red
