header
  width: 100%
  background: white
  border-bottom: #ddd 1px solid
  img
    display: block
    margin: 2rem auto
    width: 25%
  ul#lang
    position: absolute
    right: 1em
    top: 1em
    width: 20%
    text-align: right
    li
      display: inline-block
      margin: 5% 10%
      font-size: 1rem
      a
        text-decoration: none
        color: $darkgrey
        text-align: center
        font-size: 1.1em
