header
  width: 100%
  padding: 7%
  a
    text-decoration: none
  img
    display: block
    margin: 2rem auto
    width: 100%
    margin: 0 0 0 0
  h1
    font-size: 3.5rem
    text-align: center
    font-weight: normal
    margin: 0 0 .5em 0
    color: $darkgrey

nav
  text-align: center
  width: 100%
  z-index: 1
  padding: 0
  display: block
  font-size: 1.1rem
  color: $link
  font-weight: bold
  a
    text-decoration: none
    text-align: center
    color: $link
    padding: 0 .5em
    text-decoration: none

@media all and (min-width: 728px)
  nav
    text-align: right
    position: absolute
    right: 0
    top: 0
    width: 40%
    padding: .5em
    a
      display: inline-block
