nav
  background: #ececec
  padding: 1%
  font-size: 1rem
  img
    display: block
    margin: 2rem auto
  h1, h2
    text-align: center
  h1
    font-size: 1.7rem
    margin-bottom: .1em
  h2
    font-size: 1.2rem
    font-weight: normal
    margin-top: .5em
  ul#lang
    font-size: 0
    li
      display: inline-block
      width: 30%
      margin: 10%
      font-size: 1rem
      a
        display: block
        border-radius: 100%
        width: 2.5em
        height: 2.5em
        text-decoration: none
      &:first-child
        display: none
