ul#search_results
  padding: 0
  li
    list-style: none
    margin-bottom: 3em
    border-bottom: .05em solid #eee
    padding-bottom: 1em
    a
      text-decoration: none
      color: $darkgrey
      &.resultImage
        width: 2.5rem
        height: 2.5rem
        background-size: contain
        background-repeat: no-repeat
        background-position: center center
        display: inline-block
        vertical-align: bottom
        margin-right: 1em
      &.result
        font-weight: bold
        font-size: 1.3em
      i
        margin-right: .7em
        color: $red
        padding: .6%
        border: .3em $red solid
        border-radius: 100%
    dt
      text-transform: uppercase
      font-size: .9em
      font-weight: bold
      a
        text-transform: none
        font-size: 1rem
        line-height: 1.5em
        border-right: solid .1em
        padding: 0 .5em 0 0
        margin-right: .5em
        &:last-child
          border: none
    &.activity
      a.resultImage
        background-image: url('../images/activity.png')
      dt
        a
          color: $activity
          border-color: $activity
    &.reading
      a.resultImage
        background-image: url('../images/reading.png')
      dt
        a
          color: $reading
          border-color: $reading
    &.video
      a.resultImage
        background-image: url('../images/video.png')
      dt
        a
          color: $video
          border-color: $video
    &.link
      a.resultImage
        background-image: url('../images/link.png')
      dt
        a
          color: $link
          border-color: $link

p.no-results
  color: $darkgrey
  font-size: 1.6em
  font-weight: bold
  img
    vertical-align: middle
    padding-right: 1em


@media all and (min-width: 728px)
  ul#search_results
    li
      a.resultImage
        width: 3.5rem
        height: 3.5rem
        vertical-align: middle
