section#welcome-message
  border-top: .1em solid $activity
  border-bottom: .1em solid $activity
  margin: 2rem auto 4rem auto
  padding: 2rem 0
  p
    line-height: 1.5em
  li
    list-style: none
    vertical-align: middle
  li:before
    content: '>'
    color: $video
    font-weight: bold
    font-size: 2em
    vertical-align: middle
    padding-bottom: .3em
    margin-right: .3em
