{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

<img class="detailIcon" src="{% static 'images/activity.png' %}" />
<div class="detailText activity">
  <h2>{{ object }}</h2>
  <dl>
    {% url 'material:search-activity' as search_url %}

    <dt>{% trans 'Created' %}</dt>
    <dd>{{ object.timestamp }}</dd>

    <dt>{% trans 'Subjects' %}</dt>
    {% for subject in object.subjects.all %}
    <dd><a href="{{ search_url }}?activity-subjects={{ subject.pk }}">{{ subject }}</a></dd>
    {% endfor %}

    <dt>{% trans 'Goal' %}</dt>
    <dd>{{ object.goal }}</dd>

    <dt>{% trans 'Location' %}</dt>
    <dd><a href="{{ search_url }}?activity-location={{ object.location.pk }}">{{ object.location }}</a></dd>

    <dt>{% trans 'Duration (in minutes)' %}</dt>
    <dd><a href="{{ search_url }}?activity-duration={{ object.duration }}">{{ object.duration }}</a></dd>

    <dt>{% trans 'Minimum number of people' %}</dt>
    <dd><a href="{{ search_url }}?activity-num_people__contains_min={{ object.num_people.lower }}">{{ object.num_people.lower }}</a></dd>

    <dt>{% trans 'Maximum number of people' %}</dt>
    <dd><a href="{{ search_url }}?activity-num_people__contains_max={{ object.num_people.upper }}">{{ object.num_people.upper }}</a></dd>

    <dt>{% trans 'Group feature' %}</dt>
    <dd><a href="{{ search_url }}?activity-group_feature={{ object.group_feature.pk }}">{{ object.group_feature }}</a></dd>

    <dt>{% trans 'Author' %}</dt>
    <dd>{{ object.author }}</dd>
  </dl>
    {{ object.brief }}
</div>

{% endblock content %}
