{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

<img class="detailIcon" src="{% static 'images/activity.png' %}" />
<div class="detailText activity">
  <h2>{{ object }}</h2>
  <dl>
    {% url 'material:search-activity' as search_url %}

    <dt>{% trans 'Created' %}</dt>
    <dd>{{ object.timestamp }}</dd>

    <dt>{% trans 'Subjects' %}</dt>
    {% for subject in object.subjects.all %}
    <dd><a href="{{ search_url }}?activity-subjects={{ subject.pk }}">{{ subject }}</a></dd>
    {% endfor %}

    {% if object.goal %}
    <dt>{% trans 'Goal' %}</dt>
    <dd>{{ object.goal }}</dd>
    {% endif %}

    {% if object.location %}
    <dt>{% trans 'Location' %}</dt>
    <dd><a href="{{ search_url }}?activity-location={{ object.location.pk }}">{{ object.location }}</a></dd>
    {% endif %}

    {% if object.duration %}
    <dt>{% trans 'Duration (in minutes)' %}</dt>
    <dd><a href="{{ search_url }}?activity-duration={{ object.duration }}">{{ object.duration }}</a></dd>
    {% endif %}

    <dt>{% trans 'Minimum number of people' %}</dt>
    <dd><a href="{{ search_url }}?activity-num_people__contains_min={{ object.num_people.lower }}">{{ object.num_people.lower }}</a></dd>

    <dt>{% trans 'Maximum number of people' %}</dt>
    <dd><a href="{{ search_url }}?activity-num_people__contains_max={{ object.num_people.upper }}">{{ object.num_people.upper }}</a></dd>

    {% if object.group_feature %}
    <dt>{% trans 'Group feature' %}</dt>
    <dd><a href="{{ search_url }}?activity-group_feature={{ object.group_feature.pk }}">{{ object.group_feature }}</a></dd>
    {% endif %}

    {% if object.attachment %}
    <dt><i class="fa fa-download" aria-hidden="true"></i>{% trans 'Attachment' %}</dt>
    <dd><a href="{{ object.attachment.url }}">{% trans 'Download' %}</a></dd>
    {% endif %}

    {% if object.url %}
    <dt><i class="fa fa-link" aria-hidden="true"></i>{% trans 'Link' %}:</dt>
    <dd><a href="{{ object.url }}">{{ object.url }}</a></dd>
    {% endif %}

    {% if object.author %}
    <dt>{% trans 'Author' %}</dt>
    <dd>{{ object.author }}</dd>
    {% endif %}
  </dl>
  {{ object.brief }}
  {% if object.notes %}
  <p class="notes">{{ object.notes }}</p>
  {% endif %}
  <a class="printButton" title="Print Screen" alt="Print Screen" onclick="window.print();"
  target="_blank" style="cursor:pointer;">
    <i class="fa fa-print" aria-hidden="true"></i>{% trans 'Print document' %}</a>
</div>

{% endblock content %}
