{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h2>{{ object }}</h2>

<dl>
  <dt>{% trans 'Created' %}</dt>
  {{ object.timestamp }}

  <dt>{% trans 'Subjects' %}</dt>
  <ul>
    {% for subject in object.subjects.all %}
    <li><a href="{{ subject.get_absolute_url }}">{{ subject }}</a></li>
    {% endfor %}
  </ul>

  <dt>{% trans 'Goal' %}</dt>
  {{ object.goal }}

  <dt>{% trans 'Brief' %}</dt>
  {{ object.brief }}

  <dt>{% trans 'Author' %}</dt>
  {{ object.author }}
{% endblock content %}
