{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{{ approval_form.media }}

<h2>{% trans 'Activity' %}</h2>
<form action="{% url 'material:create-material' type='activity' %}" method="post">
  {% csrf_token %}
  <table>
    {{ approval_form.as_table }}
    {{ activity_form.as_table }}
  </table>
  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{{ activity_form.media }}

<h2>{% trans 'Video' %}</h2>
<form action="{% url 'material:create-material' type='video' %}" method="post">
  {% csrf_token %}
  <table>
    {{ approval_form.as_table }}
    {{ video_form.as_table }}
  </table>
  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{{ video_form.media }}

<h2>{% trans 'Reading' %}</h2>
<form action="{% url 'material:create-material' type='reading' %}" method="post">
  {% csrf_token %}
  <table>
    {{ approval_form.as_table }}
    {{ reading_form.as_table }}
  </table>
  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{{ reading_form.media }}

<h2>{% trans 'Link' %}</h2>
<form action="{% url 'material:create-material' type='link' %}" method="post">
  {% csrf_token %}
  <table>
    {{ approval_form.as_table }}
    {{ link_form.as_table }}
  </table>
  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{{ link_form.media }}

{% endblock content %}
