{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<form method="get" action=".">
  <input name="q" type="text" placeholder="{% trans 'Search' %}" />
  <input type="submit" value="{% trans 'Search' %}" />
</form>

<form method="get" action="{% url 'material:search-material' type='activity' %}">
  <input name="q" type="text" placeholder="{% trans 'Search' %}" />
  <table>
    {{ activity_filter.form.as_table }}
  </table>
  <input type="submit" value="{% trans 'Search' %}" />
</form>
{{ activity_filter.form.media }}

<form method="get" action="{% url 'material:search-material' type='reading' %}">
  <input name="q" type="text" placeholder="{% trans 'Search' %}" />
  <table>
    {{ reading_filter.form.as_table }}
  </table>
  <input type="submit" value="{% trans 'Search' %}" />
</form>
{{ reading_filter.form.media }}

<form method="get" action="{% url 'material:search-material' type='video' %}">
  <input name="q" type="text" placeholder="{% trans 'Search' %}" />
  <table>
    {{ video_filter.form.as_table }}
  </table>
  <input type="submit" value="{% trans 'Search' %}" />
</form>
{{ video_filter.form.media }}

<form method="get" action="{% url 'material:search-material' type='link' %}">
  <input name="q" type="text" placeholder="{% trans 'Search' %}" />
  <table>
    {{ link_filter.form.as_table }}
  </table>
  <input type="submit" value="{% trans 'Search' %}" />
</form>
{{ link_filter.form.media }}

<ul>
  {% for object in object_list %}
  <li>
    <a href="{{ object.get_absolute_url }}">{{ object }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
