{% load static %}

<div id="{{ widget.attrs.id }}" class="range-widget">
  <div class="range-inputs">
    {% include 'django/forms/widgets/multiwidget.html' %}
  </div>
  <output></output>
</div>

<script type="text/javascript" src="{% static 'js/range_widget.js' %}"><</script>

<script>
  range_widget(
    document.getElementById('{{ widget.subwidgets.0.attrs.id }}'),
    document.getElementById('{{ widget.subwidgets.1.attrs.id }}'),
    document.querySelector('#{{ widget.attrs.id }} output'))
</script>
