{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<img class="detailIcon" src="{% static 'images/reading.png' %}" />
<div class="detailText reading">
  <h2>{{ object }}</h2>

  <dl>
    {% url 'material:search-reading' as search_url %}

    <dt>{% trans 'Created' %}:</dt>
    <dd>{{ object.timestamp }}</dd>

    {% if object.pages %}
    <dt>{% trans 'Pages' %}:</dt>
    <dd><a href="{{ search_url }}?reading-pages={{ object.pages }}">{{ object.pages }}</a></dd>
    {% endif %}

    {% if object.year %}
    <dt>{% trans 'Year' %}:</dt>
    <dd><a href="{{ search_url }}?reading-year={{ object.year }}">{{ object.year }}</a></dd>
    {% endif %}

    <dt>{% trans 'Languages' %}:</dt>
    {% for lang in object.languages %}
    <dd><a href="{{ search_url }}?reading-languages=[{{ lang }}]">{{ lang }}</a></dd>
    {% endfor %}

    {% if object.attachment %}
    <dt>{% trans 'Attachment' %}</dt>
    <dd><a href="{{ object.attachment.url }}">{% trans 'Download' %}</a></dd>
    {% endif %}

    {% if object.url %}
    <dt><i class="fa fa-link" aria-hidden="true"></i>{% trans 'Link' %}:</dt>
    <dd><a href="{{ object.url }}">{{ object.url }}</a></dd>
    {% endif %}
  </dl>
  {{ object.brief }}
  <a class="printButton" title="Print Screen" alt="Print Screen" onclick="window.print();"
  target="_blank" style="cursor:pointer;">
    <i class="fa fa-print" aria-hidden="true"></i>{% trans 'Print document' %}</a>
</div>
{% endblock content %}
