{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h2>{{ object }}</h2>

<dl>
  {% url 'material:search-reading' as search_url %}

  <dt>{% trans 'Created' %}</dt>
  {{ object.timestamp }}

  {% if object.pages %}
  <dt>{% trans 'Pages' %}</dt>
  <a href="{{ search_url }}?reading-pages={{ object.pages }}">{{ object.pages }}</a>
  {% endif %}

  {% if object.year %}
  <dt>{% trans 'Year' %}</dt>
  <a href="{{ search_url }}?reading-year={{ object.year }}">{{ object.year }}</a>
  {% endif %}

  <dt>{% trans 'Languages' %}</dt>
  {% for lang in object.languages %}
  <a href="{{ search_url }}?reading-languages=[{{ lang }}]">{{ lang }}</a>
  {% endfor %}

  {% if object.url %}
  <dt>{% trans 'Link' %}</dt>
  {{ object.url }}
  {% endif %}
</dl>
{% endblock content %}
