{% extends 'base.html' %}
{% load i18n %}

{% block filters %}
{% for tab, endpoint, form in tabs %}
<h2 class="tabs">{{ tab }}</h2>
<form method="get" action="{{ endpoint }}">
  {% if form %}
  <ul class="filters">
    {{ form.as_ul }}
  </ul>
  {% endif %}
  <input type="submit" value="{% trans 'Search' %}" />
  <input class="delete" type="submit" value="{% trans 'Delete' %}" />
</form>
{% endfor %}

{{ tab_media }}
{% endblock filters %}

{% block content %}
{% include 'material/search_ajax.html' %}
{% endblock content %}
