{% load i18n %}

<ul id="search_results">
  {% for obj in object_list %}
  <li class="{{obj.get_model_name}}">
    <a class="resultImage" href="{{ obj.get_absolute_url }}"></a>
    <a class="result" href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
    <p>{{ obj.goal }}</p>
    <dl>
      <dt>{% trans 'Subjects' %}:
        {% for subject in obj.subjects.all %}
        <a href="{{ search_url }}?activity-subjects={{ subject.pk }}">{{ subject }}</a>
        {% endfor %}
      </dt>
    </dl>
  </li>
  {% endfor %}
</ul>
