{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% for tab, endpoint, form in tabs %}
<h2>{{ tab }}</h2>
<form method="get" action="{{ endpoint }}">
  <input name="q" type="text" placeholder="{% trans 'Search' %}" />
  {% if form %}
  <table>
    {{ form }}
  </table>
  {% endif %}
  <input type="submit" value="{% trans 'Search' %}" />
</form>
{% endfor %}

{{ tab_media }}

{% if search_entries %}
<ul>
  {% for entry in search_entries %}
  <li>
    <a href="{{ entry.object.get_absolute_url }}">{{ entry.object.title }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<ul>
  {% for obj in object_list %}
  <li>
    <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock content %}
