{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="tab">
  {% for tab, endpoint, form in tabs %}
  <button class="tablinks" onclick="openCity(event, '{{ tab }}')">{{ tab }}</button>
  {% endfor %}
</div>
{% for tab, endpoint, form in tabs %}
<div id="{{ tab }}" class="tabcontent">
  <form action="{{ endpoint }}" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="{% trans 'Submit' %}" />
  </form>
</div>
{% endfor %}

{{ tab_media }}
{% endblock content %}
