{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<img class="detailIcon" src="{% static 'images/video.png' %}" />
<div class="detailText video">
  <h2>{{ object }}</h2>

  <dl>
    {% url 'material:search-video' as search_url %}

    <dt>{% trans 'Created' %}</dt>
    <dd>{{ object.timestamp }}</dd>

    <dt>{% trans 'Duration (in minutes)' %}</dt>
    <dd><a href="{{ search_url }}?video-duration={{ object.duration }}">{{ object.duration }}</a></dd>

    {% if object.year %}
    <dt>{% trans 'Year' %}</dt>
    <dd><a href="{{ search_url }}?reading-year={{ object.year }}">{{ object.year }}</a></dd>
    {% endif %}

    <dt>{% trans 'Audio languges' %}</dt>
    {% for lang in object.audios %}
    <dd><a href="{{ search_url }}?reading-languages=[{{ lang }}]">{{ lang }}</a></dd>
    {% endfor %}

    <dt>{% trans 'Subtitle languges' %}</dt>
    {% for lang in object.subtitles %}
    <dd><a href="{{ search_url }}?reading-languages=[{{ lang }}]">{{ lang }}</a></dd>
    {% endfor %}

    <dt>{% trans 'Subjects' %}</dt>
    {% for subject in object.subjects.all %}
    <dd class="subjectDetail"><a href="{{ search_url }}?activity-subjects={{ subject.pk }}">{{ subject }}</a></dd>
    {% endfor %}

    {% if object.url %}
    <dt><i class="fa fa-link" aria-hidden="true"></i>{% trans 'Link' %}</dt>
    <dd><a href="{{ object.url }}">{{ object.url }}</a></dd>
    {% endif %}

    {% if object.goal %}
    <dt>{% trans 'Goal' %}</dt>
    <dd>{{ object.goal_rendered | safe }}</dd>
    {% endif %}
  </dl>

  {{ object.brief_rendered | safe }}

  {% if object.notes %}
  <p class="notes">{{ object.notes }}</p>
  {% endif %}

  <a class="printButton" title="Print Screen" alt="Print Screen" onclick="window.print();"
  target="_blank" style="cursor:pointer;">
    <i class="fa fa-print" aria-hidden="true"></i>{% trans 'Print document' %}</a>
</div>
{% endblock content %}
