<div id="welcome-message">

<h3>BILTOKIA herri mugimenduen gogoeta, ekintza eta dinamizazio
  prozesuakindartzeko material eta baliabideak biltzen dituen tresna kutxa
  birtuala da.</h3>
  
<p>Ireki berri duzuen atari hau, Biltokia trena kutxaduzue, herri
mugimenduetatik eta herrimugimenduentzat sortutako ezagutza, dinamika eta
tresnak gordetzeko eta partekatzeko espaziobirtuala. Bertan, parte-hartea
bultzatzeko talde dinamikak, testuak, gogoetak, ikus-entzunezkomaterialak eta
bibliografia aurkituko duzue, batez ere. Zertarako?</p>

<ul>
  <li>Espazio birtual berean pedagogia kritiko, herri jakintza,
    dinamizazioa-rekin lotura dutenmaterialak biltzeko.</li>
  
  <li>Dinamizaziorako materiala zabatzeko sarbide errazdun datu-basea
    sortzeko.</li>
  
  <li>Baliabide pedagokiko askatzaileak zein ezagutza anitzak elkartrukatzeko
    espazioakbultzatzeko.</li>
  
  <li>Herri mugimenduen ahalduntzea eta saretzea sustatzeko.</li>
</ul>
  
<p>Biltokia batez ere herri mugimenduei zuzenduta dago, baita
hezkuntza formal, ez-formal etabestelako hezkuntza eragileentzat ere (eskola
alternatiboak, GKE, hezkuntza komunitatea...).Euskal Herrian kokatzen direnak
zein hegoalde global osoan (batez ere herrialde hispano-hiztunak),horregatik
baliabideak partekatzeko orduan hizkuntza irizpideak ere kontutan hartu ditugu.</p>

<p> Aurkituko dituzuen gaiak askoratikoak izango dira: herri hezkuntza,
zapalkuntzak, botere-harremanak, instituzio eta herri mugimenuen arteko
harremanak, feminismoak, hegoaldekoikuspegia, dinamizaziorako materiala…</p>

<p>Espazio honetan batuko dira bidean sortzen joan garen baliabide eta tresna
pedagogikoak, baitaaurrez beste bide batzuetatik bildu ditugunak ere. Honez
gain, zuek ere baduzue hitza! Espaziointeraktiboa izatea nahi dugunez, foroa
ere duzue martxan, material berriak jasotzeko helburuarekin.</p>

</div>
