{% load static i18n sass_tags %}
<!doctype=html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% sass_src 'sass/main.sass' %}"/>
    <script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>
  <body>
    <nav>
      {% get_available_languages as languages %}
      {% get_current_language as current %}
      {% for lang_code, lang_name in languages %}
      {% if current != lang_code %}
      <a href="{% translate_url lang_code %}">{{ lang_code }}</a>|
      {% endif %}
      {% endfor %}
      <a>by-sa</a>|
      <a href="{% url 'material:submit-material' %}">{% trans 'Submit' %}</a>
    </nav>

    <sidebar>
      <header>
        <a href="/"><img src="{% static 'images/biltokia1.svg' %}" /></a>
        <h1>Biltokia</h1>
      </header>

      {% block searchbar %}
      {% for tab, endpoint, form in tabs %}
      <button
        class="accordion tablinks {% if forloop.first %}active{% endif %}"
        onclick="openTab(event, '{{ tab }}')">{{ tab }}</button>

      <div id="{{ tab }}" class="tabcontent" style="{% if forloop.first %}display: block;{% endif %}">
        <form method="get" action="{{ endpoint }}">
          <input class="searchBar" name="q" type="text" placeholder="&#xF002;  {% trans 'Search' %}" />
          {% if form %}
          <ul class="filters">
            {{ form.as_ul }}
          </ul>
          {% endif %}
          <input type="submit" value="{% trans 'Search' %}" />
          <input class="delete" type="submit" value="{% trans 'Delete' %}" />
        </form>
      </div>
      {% endfor %}
      {{ tab_media }}
      {% endblock searchbar %}
    </sidebar>

    <main>
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
