{% load i18n %}
<!doctype=html>
<html>
  <head>
  </head>
  <body>
    <div>
      {% get_available_languages as languages %}
      {% for lang_code, lang_name in languages %}
      <a href="{% translate_url lang_code %}">{{ lang_code }}</a>
      {% endfor %}
    </div>

    <nav>
      <ul>
        <li><a href="{% url 'material:search-material' %}">{% trans 'Search material' %}</a></li>
        <li><a href="{% url 'material:create-material' %}">{% trans 'Submit material' %}</a></li>
      </ul>
    </nav>

    {% block content %}
    {% endblock content %}
  </body>
</html>
