{% load i18n %}

{% with id=widget.attrs.id %}

<span class="select select-all"
      onClick="document.querySelectorAll('#{{ id }} input')
                       .forEach((x) => {x.checked = true})"
    >{% trans 'Select all' %}</span>
<span class="select select-none"
      onClick="document.querySelectorAll('#{{ id }} input')
                       .forEach((x) => {x.checked = false})"
    >{% trans 'Select none' %}</span>

<ul{% if id %} id="{{ id }}"{% endif %}{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>
  {% for group, options, index in widget.optgroups %}{% if group %}
  <li>{{ group }}<ul{% if id %} id="{{ id }}_{{ index }}"{% endif %}>{% endif %}{% for option in options %}
    <li>{% include option.template_name with widget=option %}</li>{% endfor %}{% if group %}
  </ul></li>
  {% endif %}{% endfor %}
</ul>

<script>
 if (document.querySelectorAll('#{{ id }} input:checked').length === 0) {
     document.querySelectorAll('#{{ id }} input').forEach((x) => {x.checked = true});
 }
</script>
{% endwith %}
