{% extends "admin/index.html" %}
{% load i18n static %}

{% block content_title %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>{{ app.name }}</caption>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
  <div class="module">
    <h2>{% trans 'Approval requests' %}</h2>
    <p>
      {% with since=request.user.last_login|date:"Y-m-d" %}
      <a href="{% url 'admin:material_approval_changelist' %}?approved__exact=0&requested__gte={{ since }}">
        {% blocktrans count counter=approvals_new.count %}
          {{ counter }} new approval request.
          {% plural %}
          {{ counter }} new approval requests.
          {% endblocktrans %}
      </a>
      {% endwith %}
    </p>
    <p>
      <a href="{% url 'admin:material_approval_changelist' %}?approved__exact=0">
        {% blocktrans count counter=approvals_unapproved.count %}
          {{ counter }} unapproved approval request.
          {% plural %}
          {{ counter }} unapproved approval requests.
          {% endblocktrans %}
      </a>
    </p>
    <p>
      <a href="{% url 'admin:material_approval_changelist' %}">
        {% trans 'All approval requests.' %}
      </a>
    </p>
  </div>

  <div class="module">
    <h2>{% trans 'Help' %}</h2>
    <ul>
      <li>
        <a href="mailto:uma@gisa-elkartea.org">{% trans 'Developer contact' %}</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
